.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.login-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.login-container form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  background-color: #0096c7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .links {
  margin-top: 20px;
}

.login-container .links > * {
  text-decoration: none;
  color: white;
  background-color: #023e8a;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}

.login-container .links > *:hover {
  background-color: #0056b3;
}
