.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #333;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
}

.logo {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: #00642d;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  animation: fadeInDown 1s ease;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #0096c7;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 150, 199, 0.2);
}

button {
  width: 100%;
  background-color: #00642D;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 150, 199, 0.2);
}

button:hover {
  background-color: #0077b6;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 119, 182, 0.3);
}

.error {
  color: #d9534f;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  animation: fadeIn 0.5s ease;
}

.loading {
  color: #5bc0de;
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  animation: fadeIn 0.5s ease;
}

.links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-link, .login-link {
  text-decoration: none;
  color: white;
  background-color: #023e8a;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(2, 62, 138, 0.2);
}

.home-link:hover, .login-link:hover {
  background-color: #0077b6;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(2, 62, 138, 0.3);
}

/* Keyframe Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.required-fields {
  color: #d9534f;
  margin-bottom: 0px;
  font-weight: bold;
}
